@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}


a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


.box {
  @apply bg-white rounded border-solid border h-auto my-0 mx-auto overflow-auto p-5 relative;
  width: 70%;
  max-height: 70vh;
  border-color: rgba(153, 153, 153, 1);
}

.close-icon {
  @apply border-solid border cursor-pointer h-6 text-xl leading-5 fixed text-center w-6;
  content: "x";
  right: calc(15% - 30px);
  top: calc(100vh - 85vh - 33px);
  background-color: rgba(237, 237, 237, 1);
  border-radius: 50%;
  border-color: rgba(153, 153, 153, 1);
}

