@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


/* Popup reference : https://www.cluemediator.com/create-simple-popup-in-reactjs */

.box {
  @apply bg-green-200 rounded border-solid border h-auto my-4 mx-auto overflow-auto p-5 relative;
  width: 50%;
  border-color: rgba(153, 153, 153, 1);
}

.close-icon {
  @apply border-solid border cursor-pointer h-6 text-xl leading-5 fixed text-center w-6;
  content: "x";
  right: 27%;
  top: 4%;
  background-color: rgba(237, 237, 237, 1);
  border-radius: 50%;
  border-color: rgba(153, 153, 153, 1);
}



input:focus {
  outline: none;
  padding-left: 10px;
}


.popup-submit {
	box-shadow:inset 0px 1px 0px 0px #a4e271;
	background:linear-gradient(to bottom, #89c403 5%, #77a809 100%);
	background-color:#89c403;
	border-radius:6px;
	border:1px solid #74b807;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:16px;
	font-weight:bold;
	padding:8px 20px;
  margin-top: 1rem;
	text-decoration:none;
	text-shadow:0px 1px 0px #528009;
}
.popup-submit:hover {
	background:linear-gradient(to bottom, #77a809 5%, #89c403 100%);
	background-color:#77a809;
}
.popup-submit:active {
	position:relative;
	top:1px;
}

